* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  height: 4px;
  width: 900px;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

i {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--font-color-white);
}
.theme-dark {
  --main-bg: hsl(0, 0%, 22%);
  --header-bg: hsl(0, 0%, 17%);
  --card-bg: hsla(180, 100%, 72%, 0.831);
  --font-color: hsl(0, 0%, 30%);
  --font-color-white: hsl(0, 0%, 100%);
}

.theme-light {
  --main-bg: hsl(0, 0%, 100%);
  --header-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(247, 64%, 52%);
  --font-color: hsl(228, 58%, 83%);
  --font-color-white: hsl(230, 17%, 14%);
}
h1 {
  font-size: 20px;
}

footer {
  height: 7vh;
  position: fixed;
  background-color: var(--font-color);
  bottom: 0;

  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  height: auto;
  width: 20%;

  padding: 12px 0px;
}

.nav li {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 10px;
}
.nav i {
  margin-right: 13px;
}
a {
  text-decoration: none;
  color: var(--card-bg);
}
.nav img {
  height: 30px;
  margin: 0;
}
.searchbar img {
  height: 50px;
  border-radius: 50px;
  border: 1px solid grey;
  margin-left: 5px;
}
.rema {
  box-shadow: 0px 10px 17px 0px rgba(130, 123, 66, 255);
}
.santi {
  box-shadow: 0px 10px 17px 0px rgba(8, 39, 131, 255);
}
.drake {
  box-shadow: 0px 10px 17px 0px rgba(193, 193, 193, 0.75);
}
.kidcudi {
  box-shadow: 0px 10px 17px 0px rgba(54, 57, 129, 255);
}
.kanye {
  box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.75);
}
.main {
  background-color: var(--header-bg);
  width: 100%;
  padding: 0px;
}
li {
  list-style: none;
}

span {
  color: var(--card-bg);
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  background-color: var(--main-bg);
  height: 8vh;
  border-left: 1px solid rgba(0, 0, 0, 0.247);
  padding: 0% 5%;
}

.newrelease {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 0%;
}
.populartracks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0% 0%;
}

.sub-body {
  padding: 1% 5%;
}

.album-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 0%;
}
.album-details img {
  width: 200px;
  border-radius: 15px;
  height: 200px;
  margin-bottom: 20px;
}

.active {
  color: var(--card-bg);
}
.theme-block {
  margin: 0px 25px;
}

.theme-block #theme {
  display: none;
}

.theme-block #theme + label::before {
  content: "";
  background: url(icon-moon.svg);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
svg {
  color: black;
}
.theme-block #theme:checked + label::before {
  background: url(icon-sun.svg);
}
.album-details h4 {
  font-size: 16px;
}
.album-details h5 {
  font-size: 12px;
}
input {
  outline: 0;
  border: 0;
  width: 1000px;
  background-color: var(--main-bg);
  height: 5vh;
  padding: 0px 10px;
}

.nonvisible {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 0% 4%;
  justify-content: space-between;
}
.visible {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 4%;
  justify-content: space-between;
}
.time {
  display: flex;
}
.songdetails {
  display: flex;
  align-items: center;
  padding: 0% 0%;
}

.songdetails h5,
h6 {
  padding: 0%;
  margin: 0px 14px;
}
.songdetails h5 {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.songdetails h6 {
  color: rgb(0, 0, 0);
  font-size: 13px;
}
.songdetails img {
  height: 6vh;
}

.time {
  display: flex;
  align-items: center;
}
.controls h4 {
  font-size: 16px;
  margin: 0% 5px;
}
.controls {
  display: flex;
  align-items: center;
}
.controls i {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 4px 4px;
  margin: 0px 3px;
  border-radius: 50px;
}

#play {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 5px;
  border-radius: 50px;
}

.album {
  min-height: auto;
  width: 1300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgb(0, 0, 0)),
    url(rema2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.displayalbum {
  width: 23%;
  height: 24%;
  margin-left: 5%;
  padding-top: 48px;
}
.album-details h2 {
  color: white;
  margin-bottom: 12px;
  margin: 0px 0px;
  font-size: 26px;
}

.album-details h3 {
  color: rgba(255, 255, 255, 0.685);
  font-size: 18.6px;
  margin-bottom: 12px;
  margin: 0px 0px;
}

#mainbg {
  display: flex;
  flex-direction: row;
}

.album-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 40px;
}
.album-details h1 {
  color: #fff;
  font-size: 28.6px;
  margin: 0px;
}
table {
  margin-top: 25px;
  width: 940px;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;
  margin-left: 62px;

  caption-side: top;
}

caption,
th {
  text-align: left;
  font-size: 23px;
}

table,
th,
td {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgba(248, 246, 246, 0.21);
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.095);
}

td i {
  transition: 0.5s;
  padding: 7px 8px;
  color: white;
  border-radius: 105px;
}

tr td {
  font-size: 16px;
}

table a {
  color: rgb(195, 180, 65);
  font-weight: bold;
}
td {
  padding: 15px 16px;
  font-size: 16px;
}
tr {
  color: white;
}
caption {
  color: white;
  margin: 14px 0px;
  font-size: 16px;
  letter-spacing: 2px;
}
.nav li a {
  text-decoration: none;
  color: var(--card-bg);
}

a {
  text-decoration: none;
  color: var(--font-color-white);
}
a:hover {
  color: rgb(74, 140, 190);
}
.new,
#menu,
.theme-block1,
.theme-block2,
.theme-block3 {
  display: none;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1000px) {
  .main-body {
    display: flex;
    flex-direction: column;
  }
  h1,
  .newrelease a,
  .populartracks a {
    font-size: 13px;
  }

  body {
    background-color: var(--header-bg);
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 2% 5%;
    width: auto;
    height: auto;
    background-color: var(--header-bg);
  }
  .nav li {
    padding: 15px;
  }

  .nav ul {
    margin: 0;
    padding: 2% 0%;
  }
  .browse,
  .library {
    display: block;
  }
  #close {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
  #clos {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
  #respnav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100vh;
    background-color: var(--header-bg);
    top: 0;
    right: 0;
    padding-top: 50px;
    left: 0;
    bottom: 0;
  }
  .menu {
    display: flex;
  }

  #mainbg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .album-details {
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .album-details h1 {
    font-size: 22px;
    margin-top: 15px;
  }
  .album-details h2 {
    font-size: 17px;
    margin: 15px 0px;
  }
  .album-details h3 {
    font-size: 14px;
  }
  .album {
    min-height: auto;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgb(0, 0, 0)),
      url(rema3.jpg);
    background-position: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  table {
    margin-top: 25px;
    width: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    caption-side: top;
  }

  caption,
  th {
    text-align: left;
    font-size: 23px;
  }

  table,
  th,
  td {
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: rgba(248, 246, 246, 0.21);
  }
  tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.095);
  }

  td i {
    transition: 0.5s;
    padding: 4px 8px;
    color: white;
  }

  tr td {
    font-size: 10px;
  }

  table a {
    color: rgb(195, 180, 65);
    font-weight: bold;
  }
  td {
    padding: 14px 13px;
    font-size: 10px;
  }
  tr {
    color: white;
  }
  .searchbar {
    display: none;
  }
  .song h6 {
    font-size: 6px;
    margin: 0;
  }
  .song img {
    height: 20px;
  }

  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    height: 5px;
    width: 100px;
  }

  .progress {
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

  #title,
  #artist,
  #current,
  #duration,
  .time span {
    font-size: 8px;
  }
  #cover {
    height: 30px;
  }
  .controls i {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0px 0px;
    margin: 0px 0px;
    border-radius: 50px;
  }
  #play {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1px 1px;
    border-radius: 50px;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0% 4%;
    justify-content: space-evenly;
  }
  .theme-block1 {
    margin: 0px 0px;
    padding: 10px;
  }
  .theme-block1 {
    margin: 0px 25px;
  }

  .theme-block1 #theme1 {
    display: none;
  }

  .theme-block1 #theme1 + label::before {
    content: "";
    background: url(icons8-close.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .theme-block2 #theme2:checked + label::before {
    background: url(icon-sun.svg);
  }
  .theme-block2 {
    margin: 0px 0px;
    padding: 10px;
  }
  .theme-block2 {
    margin: 0px 25px;
  }

  .theme-block2 #theme2 {
    display: none;
  }

  .theme-block2 #theme2 + label::before {
    content: "";
    background: url(icon-moon.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .theme-block3 {
    margin: 0px 0px;
    display: block;
  }

  .theme-block3 #themee {
    display: none;
  }

  .theme-block3 #themee + label::before {
    content: "";
    background: url(icons8-menu.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .disablemenu {
    visibility: hidden;
  }
  .displayalbum {
    margin-left: 0%;
    width: 50%;
    height: 50%;
  }
}
